name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Node setup
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install
        run: npm ci
        working-directory: ./aab-bus
      - name: Typecheck
        run: npm run typecheck
        working-directory: ./aab-bus
      - name: Lint
        run: npm run lint
        working-directory: ./aab-bus
      - name: Tests
        run: npm test --silent
        working-directory: ./aab-bus